html{
  font-family: "system-ui";
  line-height: 1.2;
  font-size: 16px;
  color:#4A4A4A;
}
body{
  margin: 0 auto;
  max-width: 70%;
  border-bottom: 2px solid rgb(188, 188, 188);
}
.top-banner{
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
}
.logo-side{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height:32px;
  padding-left: 24px;
}
.logo img{
  height: 3rem;
}
.title-site span{
  font-size: 24px;
  padding-left: 4px;
}
.go{
  color: rgb(89, 89, 89);
}
.greek{
  color: rgb(167, 167, 167);
}
.banner-nav span{
  padding-right: 16px;
  font-size: 1.25rem;
  color: olive;
}
.banner-nav{
  padding-right: 8px;
}
a:link{
  color: black;
  text-decoration: none;
}
a:visited{
  color: olive;
  text-decoration: none;
}
#buton-produse a:visited{
  color: white;
}
.menu-500px{
  display:none;
}
.section-one{
  display: flex;
  justify-content:  flex-start;
  align-items: center;
  flex-direction: row;
  background-color: #D8D8D8;
  border-left:2px solid rgb(188, 188, 188);
  border-right: 2px solid rgb(188, 188, 188);
}
.img-section-one{
  width: 60%;
  margin: 32px 24px;
}
.img-section-one img{
  width: 100%;
}
.section-one-right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  color:#4A4A4A;
  margin-right:24px;
  padding-left:25px;
}
.text-section-one-right{
  width: 100%;
}
.text-section-one-right h1{
  font-size:2rem;
  text-align: left;
}
.text-section-one-right h3{
  font-size: 1rem;
  text-align: left;
}
.button-section-one{
  color:white;
  background-color: #4A4A4A;
  text-align: center;
  width: 100%;
}
.button-section-one p{
  padding: 8px 90px;
  font-size: 1rem;
  margin: 0;
}
.section-practice{
  display: flex;
  justify-content:  flex-start;
  align-items: center;
  flex-direction: row;
  border-left:2px solid rgb(188, 188, 188);
  border-right: 2px solid rgb(188, 188, 188);
  padding-bottom: 32px;
}
.section-practice-left{
  width: 68%;
  margin: 32px 24px;
}
.section-practice-left-img img{
  width: 100%;
}
.section-practice-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  border-left: 1px solid rgb(227, 229, 228);
  padding-top: 16px;
  align-self: flex-start;
}
.mobile{
  display: none;
}
.element{
  display: flex;
  flex-direction: row;
  padding: 16px 16px;
  border-bottom: 1px solid rgb(227, 229, 228);
  width: auto;
  align-items: center;
}
.sub-element-right{
  width: 35%;
  height: auto;
  padding-right: 16px;
}
.sub-element-right img{
  width: 100%;
}
.sub-element-right-lecture{
  width: 60%;
  height: auto;
  padding-right: 39px;
}
.sub-element-right-lecture img{
  width:100%;
}
#element-gray-background{
  background-color: rgb(216, 216, 216);
}
.link-read-more{
  color: rgb(32, 80, 129);
}
.section-learning{
  background-color: #D8D8D8;
  padding:32px 0px;
  border-left:2px solid rgb(188, 188, 188);
  border-right: 2px solid rgb(188, 188, 188);
}
.section-learning-title{
  text-align: center;
  padding-bottom: 32px;
}
.learning-subjects{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 0 72px;
}
.mobile-container{
  display:none;
}
.subject{
  display: block;
  flex-direction: row;
  max-width: 30%;
  background-color: white;
  text-align: left;
  margin-bottom: 32px;
}
.subject img{
  height: auto;
  width: 100%;
}
.subject-description{
  padding: 16px 16px 24px 16px;
}
#subject-margin{
  margin-right: 32px;
}
.section-thesis-left{
  width: 60%;
  margin: 0 24px;
}
.section-thesis{
  display: flex;
  justify-content:  space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 32px;
  border-bottom:1px solid rgb(228, 230, 229);
}
.section-bottom{
  padding-top: 32px;
  border-left:2px solid rgb(188, 188, 188);
  border-right: 2px solid rgb(188, 188, 188);
}
.section-thesis-right{
  display: flex;
  flex-direction: column;
  width: 40%;
  align-self: flex-start;
}
.element-no-border{
  display: flex;
  flex-direction: row;
  padding: 16px 16px;
  width: auto;
}
.footer-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  border-left:2px solid rgb(188, 188, 188);
  border-right: 2px solid rgb(188, 188, 188);
}
.footer-nav span{
  padding-right: 6px;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait){

body{
  margin: 0 auto;
  border: 2px solid rgb(188, 188, 188);
  max-width: 100%;
}
.title-site{
display: none;
}
.banner-nav{
display: none;
}
.menu-500px{
  display: flex;
  justify-content: space-around;
}
.menu-500px{
  height: 3rem;
}
.top-banner{
  display: flex;
  justify-content: space-around;
}
.logo-side{
  padding-left: 0px;
}
.section-one{
  display: flex;
  flex-direction: column;
}
.img-section-one{
  width:100%;
  margin:0;
}
.section-one-right-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left:16px;
  margin-bottom: 32px;
  width: auto;
}
.section-practice-left{
  display: none;
}
.section-practice-right{
  display:flex;
  width:100%;
  flex-direction: column;
}
.mobile{
  display: flex;
}
.desktop{
  display:none;
}
.sub-element-right-lecture{
  width:100%;
  height: auto;
  padding-right: 16px;
}
.element{
  display: flex;
  flex-direction: column;
  padding: 16px 16px;
  border-bottom: 1px solid rgb(227, 229, 228);
  width: 90%;
  justify-content: center;
  align-self: center;
}
.sub-element-right{
  width: 100%;
  height: auto;
  padding-right: 16px;
}
.sub-element-left{
  width:100%;
  font-size: 1.5rem;
}
#element-gray-background{
  background-color: white;
}
.section-learning{
  background-color: white;
}
.section-learning-title{
  font-size: 4rem;
  padding-bottom: 32px;
  margin: 0;
}
.section-learning{
  padding: 0;
}
.learning-subjects{
  display: none;
}
.mobile-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.mobile-container-subject{
  text-align: left;
  padding: 16px 0 24px 16px;
  background-color:#D8D8D8;
  width:90%;
  align-self: center;
  margin: 8px;
}
.section-thesis-right{
  display: none;
}
.section-practice-left-txt{
  display: none;
}
.section-thesis-left{
  width: 100%;
  height: auto;
  margin: 0;
}
.terms-conditions{
  display: none;
}
.section-thesis{
  border:none;
}
}
